{% extends "core/base3.html" %}
{% load static %}
{% block title %}Category Posts{% endblock %}
{% block content %}

<section>

    <div class="blog-div-one">
      <div></div>
      <div>
       


        <div style="padding-top: 0rem;padding-left: 1rem;padding-right: 1rem;display: flex;  flex-wrap: wrap;">

           
             
          {% for obj in categoryPosts %}
          <div class="card" style="width: 22rem;margin-left: 1rem; margin-top: 1rem;">
            {% if obj.image %}
            <img src="{{ obj.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'post-detail' obj.id obj.slug %}" class="card-title">{{ obj.title }}</a>
                              
            </div>
          </div>
          {% endfor %}
        

       
        </div>

        
      </div>
      <div></div>
    </div>

    

  </section>


{% endblock %}
  