{% extends "core/base3.html" %}
{% load static %}
{% block content %}

    <section>

        <div class="blog-div-one">
            <div></div>
            <div>


        <h4 style="margin-top: 1%; margin-bottom: 1%;">New Category</h4>
        <div class="alert alert-primary" role="alert">
            Each Category Must be <strong>A single Word, e.g Entertainment</strong>
          </div> 
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary mb-5" style="width: 100%;color:black;">Create</button>
            
          </form>





            </div>
            <div></div>
        </div>

        



    </section>


{% endblock %}
  